:root{
  --primary: #009B77;
  --light: #3DCAB5;
  --dark: #40826d;
  --alt1 : #FFB8E3;
  --alt3: #F20093;
  --alt2: #87CEEB;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-size: 100%;
  background-image: url("media-files/fp_img/BG_BP.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  height: 100vh;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}
.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.navbar img{
  width: 175px;
  height: 120px;
}
.logo{
  width: 160px;
  cursor: pointer;
}
nav{
  flex: 1;
  padding-left: 60px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #333;
}
nav ul li a.n_btn:hover{
  text-decoration: none;
  background: linear-gradient(45deg, var(--alt3), var(--alt2));
  margin: 0 0px;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 99px;
  color: white;
}
.navbar .btn a{
  color: white;
}
.navbar .btn{
  align-self: flex-end;
  display: flex;
  background: linear-gradient(45deg, var(--alt3), var(--alt2));
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.content h1{
  font-size: 60px;
  font-weight: 100px;
  margin-top: 24px;
  margin-bottom: 15px;
  color: black;
}
.content p{
  font-size: 20px;
  color: #232d60;
}
.content a{
  font-weight: 900;
}
.content{
  margin-top: 10%;
  margin-left: 10%;
}
.content .msg{
  cursor: auto;
  font-weight: 800;
  display: inline-block;
  background: linear-gradient(45deg, var(--alt3), var(--alt2));
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.arrow{
  margin-top: 40px;
  display: flex;
}
.arrow img{
  width: 40px;
  margin-right: 25px;
  transform: rotate(180deg);
}
.arrow .login{
  font-size: 30px;
  margin-right: 5px;
}
.arrow a:hover{
  cursor: pointer;
}
