@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root{
  --dark: #3e0622;
  /* rgb(62,6,34) */
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#cross{
  display: none;
}

#bars{
  display: flex;
}

.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  z-index: 2;
  transition: 0.5s;
}

.showcase header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showcase.active{
  right: 300px;
}

.logo{
  text-transform: uppercase;
  cursor: pointer;
}

.toggle{
  position: relative;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.toggle img{
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

.toggle.active{
  position: relative;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFB8E3;
  mix-blend-mode:difference;
}

.text{
  position: relative;
  z-index: 10;
}

.text h2{
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3{
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p{
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a{
  display: inline-block;
  font-size: 1em;
  background: white;
  padding: 10px 30px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a.login:hover{
  letter-spacing: 6px;
}

.text a.signup:hover{
  word-spacing: 6px;
  letter-spacing: 4px;
}

.menu{
  position: absolute;
  top: 0;
  right:0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul{
  position: relative;
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.menu ul li a:hover{
  color: #3e0622;
  font-size: 1.6em;
}

@media(max-width: 991px){
  .showcase,
  .showcase header{
    padding: 40px;
  }

  .text h2{
    font-size: 3em;
  }
  .text h3{
    font-size: 1em;
  }
}

@media (max-width: 640px){
  .showcase.active{
    right: 75%;
  }
  .menu{
    width: 400px;
  }
}
