CSS CODE
body{
 background-color: #40826D;
}
.signinbody{
 display: flex;
 justify-content: ;
 align-items: ;
 flex-direction: column;
 margin: 20px;
}
.myButton {
 -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
 -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
 box-shadow:inset 0px 1px 0px 0px #ffffff;
 background-color:#ededed;
 -webkit-border-radius:42px;
 -moz-border-radius:42px;
 border-radius:42px;
 border:1px solid #dcdcdc;
 display:inline-block;
 cursor:pointer;
 color:#777777;
 font-family:Verdana;
 font-size:19px;
 font-weight:bold;
 padding:6px 33px;
 text-decoration:none;
 text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
 background-color:#dfdfdf;
}
.myButton:active {
 position:relative;
 top:1px;
}
.myButton{
 max-width: 200px;
 text-align:center ;
 margin: 30px ;
 display: flex ;
 display: grid;
}
.headline{
 text-align: ;
 margin: 30px;
 font-family:serif ;
 color: #123524;
}
.col-md-6{
 max-width: 25%;
}
.col-md-4{
 margin:10px ;
}
.bodyline{

 margin-left:800px;
 margin-top: 5px;

}
.signinimage{
 position:absolute ;
 margin-top: 45px;
 margin-bottom: 0px;
 margin-left: 20px;


}
