CSS CODE
body{
 background-color:#009B77;
 border-style:groove;
 border-width:100px;
 border-color:#009b77;
 }
.form-floating{
 width: 500px;
 margin: 10px;
}
.signinbody{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 20px;
 }

 .headline{
 text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
 font-family: century school book bold;
 color: #730C0B;
 }
 .parentone{
 text-align: center;
 font-family:Arial, Helvetica, sans-serif;
 }
 .middleone{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 20px;
 }

 .myButton {
 -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
 -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
 box-shadow:inset 0px 1px 0px 0px #ffffff;
 background-color:#ffffff;
 -webkit-border-radius:6px;
 -moz-border-radius:6px;
 border-radius:6px;
 border:1px solid #dcdcdc;
 display:inline-block;
 cursor:pointer;
 color:#666666;
 font-family:Verdana;
 font-size:19px;
 font-weight:bold;
 padding:6px 33px;
 text-decoration:none;
 text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
 background-color:#f6f6f6;
}
.myButton:active {
 position:relative;
 top:1px;
}

.myButton{
 text-align: center;
 display: flex ;
 display: grid;
 max-width: 200px;
 margin: 30px auto ;
}
