@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
   margin: 0;
   padding: 0;
}
/* -------------for navbar--------------------------- */
.navbar{
   width:100vw;
   height:15vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-repeat: no-repeat;
   background-size: cover;
}

p.heading-1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  font-weight: 800;
}

p.heading-2{
  position: relative;
  font-style: italic;
  font-size: 50px;
}

/* for container */
.cover-page{
   border:2px solid black;
   height: 100vh;
   background-repeat: repeat;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   background: url("media-files/DNA-Change-Concept.gif");
   background-size: cover;
   opacity:1;
}

.cover-page a{
  background-color: #3DCAB5;
}

.heading{
   max-width: 40vw;
   font-size: 2.7em;
   position: relative;
   left:2vw;
   margin-top: 10vh;
   display: flex;
   flex-direction: column;
}
.heading-1{
   font-size: 2em;
   font-family: 'Roboto', sans-serif;
   color:white;
}
.heading-2{
   font-size: 0.8em;
   font-family: 'Roboto', sans-serif;
   margin-top: 4vh;
   color:white;

}

.myButton {
  margin-left: 20px;
  text-align: center;
 background-color: #3DCAB5;
 border-radius:42px;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Verdana;
 font-size:24px;
 font-weight:bold;
 padding:16px 60px;
 width: 200px;
 text-decoration:none;
}
.myButton:hover {
 background-color: #009B77;
}
